aiogram==3.5.0
deep-translator==1.11.4
environs==11.0.0
mysql-connector-python==9.0.0
numpy==2.0.1
openpyxl==3.1.5
pandas==2.2.2
pydantic==2.7.4
pydantic_core==2.18.4
python-dotenv==1.0.1
Cython==3.0.11
requests==2.32.3
urllib3==2.2.2