aiogram
redis
environs
mysql-connector-python
python-dotenv
pytest
pytest-asyncio
pytest-cov
pytest-docker
pytest-mock
aioresponses
deep_translator
pandas
pytest
pytest-asyncio
asynctest
aioresponses
aiogram_tests
